@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "KyoboHand";
  margin: 75px 71px;
  text-align: center;
  background: 100% no-repeat;
  font-size: 16px;
}
input {
  padding: 5px 10px;
  margin-bottom: 10px;
}
button {
  padding: 5px 10px;
  box-shadow: 2px 3px 3px 0px rgb(0 0 0 / 40%);
  background-color: rgb(255, 255, 255);
  border: none;
}

section {
  width: 1281px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*smallbox*/
.smallbox {
  width: 427px;
  height: 275px;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}
.smallbox:nth-child(1) {
  padding: 100px;
}
.smallbox:nth-child(2) {
  padding: 40px;
}
.smallbox:nth-child(3) {
  padding: 90px;
}
.smallbox:nth-child(4) {
  padding: 98px;
}
.smallbox:nth-child(5) {
  padding: 92px;
}
.smallbox:nth-child(6) {
  padding: 121px;
}

/*login*/
.hidden {
  display: none;
}

/*todo list*/
.todotitle {
  margin-bottom: 10px;
  color: rgb(97 139 209);
}
.todobutton {
  padding: 2px;
}

/*lotto*/
#lotto_div button {
  margin-bottom: 20px;
}
#lucky {
  background-color: rgb(255 197 0);
  font-size: 1.3rem;
}

/*weather*/
#weather li {
  font-size: 2rem;
}
#weather li:nth-child(2) {
  font-size: 1rem;
}
#weather li:nth-child(3) {
  font-size: 1.5rem;
}
